.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
.vscode/settings.json

.build
fib-log.txt
gitHash.def
*.raw
*.log
*.zip
modules/*/hardware/design/_autosave-*
modules/*/hardware/design/*-bak
modules/*/hardware/design/*-backups/