.vscode/.cortex-debug.peripherals.state.json
.vscode/.cortex-debug.registers.state.json
.vscode/settings.json

.build
fib-log.txt
gitHash.def
*.raw
*.log
modules/*/hardware/_autosave-*
modules/*/hardware/*-bak
modules/*/hardware/*-backups/