[submodule "System/MSP/STM32CubeF3"]
	path = system/core/libraries/STM32CubeF3
	url = https://github.com/lukasnee/STM32CubeF3.git
[submodule "system/libraries/DaisySP"]
	path = system/libraries/DaisySP
	url = https://github.com/electro-smith/DaisySP.git
[submodule "extern/ln"]
	path = extern/ln
	url = https://github.com/lukasnee/ln.git
