[submodule "System/MSP/FreeRTOS-Kernel"]
	path = system/core/libraries/FreeRTOS-Kernel
	url = https://github.com/lukasnee/FreeRTOS-Kernel.git
[submodule "System/MSP/freertos-addons"]
	path = system/core/libraries/freertos-addons
	url = https://github.com/lukasnee/freertos-addons.git
[submodule "System/MSP/STM32CubeF3"]
	path = system/core/libraries/STM32CubeF3
	url = https://github.com/lukasnee/STM32CubeF3.git
[submodule "System/Components/Shell/cxxopts"]
	path = system/components/shell/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "System/Core/Libraries/magic_enum"]
	path = system/core/libraries/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "System/Core/Libraries/fibstd"]
	path = system/core/libraries/fibstd
	url = https://github.com/lukasnee/fibstd.git
[submodule "system/libraries/DaisySP"]
	path = system/libraries/DaisySP
	url = https://github.com/electro-smith/DaisySP.git
