source [find interface/jlink.cfg]
transport select swd

# Keep adapter speed strictly capped
adapter speed 3999

source [find target/stm32f3x.cfg]

# Prevent stm32f3x.cfg internal events from raising the speed back to 4000/8000 kHz
$_TARGETNAME configure -event reset-start {
    adapter speed 3999
}
$_TARGETNAME configure -event reset-init {
    adapter speed 3999
}

# Use software reset mechanism via CoreDebug
# cortex_m reset_config sysresetreq
# reset_config none
